$darkColorForTest: #262626;
$lightColorForText: #ffffff;
$buttonAndEffectFreshLife: #ff6033;
$boxShadowFreshLife: 0 2px 5px rgba(0, 0, 0, 0.5);
$bgColorAboutUs: #00b1b1;
$bgColorServices: #70bfff;
$borderColorServices: #a2a2a2;
$bgColorGallery: #ffe92f;
$bgLinkGallery: #5585a2;
$shadowLinkGallery: rgba(0, 0, 0, 0.5);
$borderInputSubcribe: #262626;
$shadowLinkSubscribe: rgba(0, 0, 0, 0.5);
$bgcolorbutton: #96b92c;
$bgColorBlog: #b07cf7;
